#!/usr/bin/env bash

export HISTCONTROL=ignoreboth  # Forget duplicate and space-prefixed commands.
export HISTFILESIZE=1000  # Maximum number of commands saved in .bash_history.
export HISTSIZE=500  # Maximum number of commands to remember from one session.

# Enable colour for 'grep' output
export GREP_OPTIONS="--color=auto"
