[user]
  name = Daniel Swaine
	email = info@danielswaine.co.uk

[core]
	excludesfile = ~/.globalgitignore
	editor = atom

[alias]
	st = status
	ci = commit
	br = branch
	co = checkout
	lg = log --pretty=format:'%C(yellow)%h %Creset%s%C(bold red)%d%Creset %Cblue(%an, %ar)%Creset' --abbrev-commit --graph

[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true

[color]
  ui = true

[color "branch"]
	current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold

[color "status"]
  added = yellow
  changed = green
  untracked = red
