# .gitignore for dotfiles repo
# Global .gitignore settings, see ~/.globalgitignore.

# Default to ignoring everything.
*

# Explicitly track these files.
!README.md
!.bash_profile
!.bashrc
!.git-prompt.sh
!.gitconfig
!.gitignore
!.globalgitignore
!.profile
!.irbrc
!.tmux.conf

!.atom/
!.atom/**

!.config
!.config/nvim
!.config/nvim/init.vim
