# .gitignore for dotfiles repo
# Global .gitignore settings, see ~/.globalgitignore.

# Default to ignoring everything.
*

# Explicitly track these files.
!README.md
!.bash_profile
!.bashrc
!.git-prompt.sh
!.gitconfig
!.gitignore
!.globalgitignore
!.irbrc
!.tmux.conf
!.eslintrc.yml
!.aliases
!.bash_prompt
!.tern-config
!.exports
!.functions
!.hushlogin
!.macos
!install.sh

!.config
!.config/nvim
!.config/nvim/autoload/
!.config/nvim/autoload/plug.vim
!.config/nvim/init.vim
!.config/nvim/UltiSnips/
!.config/nvim/UltiSnips/*.snippets

!resources
!resources/SolarizedDark.itermcolors
