"*":
  "atom-beautify":
    general:
      _analyticsUserId: "78ff9ab4-b69e-4098-bba9-158d55b286c8"
  "autoclose-html":
    forceBlock: [
      "head"
      "div"
    ]
    forceInline: [
      "title"
      "h1"
      "h2"
      "h3"
      "h4"
      "h5"
      "h6"
      "th"
      "td"
    ]
  core:
    telemetryConsent: "limited"
  editor:
    fontFamily: "monaco"
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    tabType: "soft"
  "exception-reporting":
    userId: "0201a1e5-0a2d-4f8b-8864-c110891fa304"
  jslint:
    validateOnChange: true
  "linter-ui-default": {}
  "markdown-preview":
    useGitHubStyle: true
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  pigments: {}
  welcome:
    showOnStartup: false
