"*":
  "autoclose-html":
    forceBlock: [
      "head"
      "div"
    ]
    forceInline: [
      "title"
      "h1"
      "h2"
      "h3"
      "h4"
      "h5"
      "h6"
      "th"
      "td"
    ]
  core:
    telemetryConsent: "limited"
  editor:
    fontFamily: "monaco"
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
  "exception-reporting":
    userId: "0201a1e5-0a2d-4f8b-8864-c110891fa304"
  pigments: {}
  welcome:
    showOnStartup: false
