packages: [
  "atom-beautify"
  "atom-wrap-in-tag"
  "autoclose-html"
  "busy-signal"
  "highlight-selected"
  "intentions"
  "linter"
  "linter-erb"
  "linter-tidy"
  "linter-ui-default"
  "package-sync"
  "pigments"
  "script"
]
